# Storage Account Connection String. Obtain this from your Azure Storage account
# in the Azure Portal under "Access keys".
STORAGE_ACCOUNT_CONN_STRING=

# API Key for Azure OpenAI. Same value for both. Get this from the Azure portal
# under your Azure OpenAI Service resource.
OPENAI_API_KEY=
AZURE_OPENAI_API_KEY=

# Endpoint URL for Azure OpenAI. Find this in the Overview section of your Azure
# OpenAI Service resource in the Azure portal.
AZURE_ENDPOINT=

# API Version for Azure OpenAI Check the Azure OpenAI documentation for the
# current API version
# OPENAI_API_VERSION=2023-07-01-preview

# Language Model for Azure OpenAI. Specify the model you wish to use.
# LLM_MODEL=gpt-4

# Language Model Deployment Name for Azure OpenAI If you have a custom
# deployment, specify its name here. Otherwise, leave commented
# LLM_DEPLOYMENT_NAME=ailab-llm

# Embedding Model for Azure OpenAI Specify the embedding model you wish to use.
# Check Azure OpenAI documentation for available models 
# EMBED_MODEL=ada

# Embedding Model Deployment Name for Azure OpenAI.
# EMBED_DEPLOYMENT_NAME=text-embedding-ada-002

# Database Connection Configuration These details will be specific to your
# database. Obtain them from your database administrator or setup
DB_SCHEME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Table and Column for Querying the Database Specify the table and column you
# wish to query. This will depend on your database schema 
# TABLE_NAME=
# COLUMN=
